.form {
  margin: 50px auto;
  display: grid;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.form input {
  padding: 0 0 0 20px;
  font-size: 20px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.form textarea {
  padding: 10px 0 0 20px;
  font-size: 18px;
  height: 100px;
  width: 400px;
  border-radius: 5px;
  border: none;
}

.form label {
  margin-top: 10px;
  justify-self: start;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.form button {
  cursor: pointer;
  margin: 20px 0;
  justify-self: end;
  width: 30%;
  height: 40px;
  background-color: #2a2f4f;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

.form input.invalid {
  border: 2px rgb(104, 39, 38) solid;
  background-color: #d47e7e;
}

.form input::placeholder {
  color: #2a2f4f7e;
  font-weight: 500;
}

.error {
  color: rgb(104, 39, 38);
  font-weight: 700;
  font-size: 15px;
}

@media only screen and (max-width: 430px) {
  .form textarea {
    width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  .form {
    margin: auto;
  }
}
